/* ===GERAL============================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;  /* (10*100)/16 - 1rem = 10px normal 1re = 16px  */ 

    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11, 1%, 15%);
    --paragraph: hsla(210, 9%, 31%, 1);
    --brand-beige: hsla(39, 100%, 97%, 1);
    --brand-light: hsl(148, 23%, 89%);
    --nav-height: 7.2rem;

}

html,
body{
    width: 100%;
    height: 100%;
}


body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay; /* sobrepoe a largura do body sobre o scroll */
}

.wrapper{
    width: 37.5rem;
    margin-inline:auto;
    padding-inline:2.4rem;  
}
ul{
    list-style: none;
}

/* ===HEADER============================================= */

header{    
    margin-top: calc(4.1rem + var(--nav-height));   
}

/* criando um elemento tag html pelo css */

header::before {
    content: "";
    width:100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block; 

    position: absolute;
    top:0; 
    left: 0;
    z-index: -1;    
}

header h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

header h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 2.4rem;
}

header p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight:400;
    color:var(--paragraph);

    margin-bottom: 3.2rem;
} 

header button{
    background:var(--primary-color);
    
    border: none;
    border-radius: 4rem ;

    margin-bottom: 6rem;

    height: 5.2rem;
    width: 26.3rem;

    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-left: auto;
    margin-right: auto;
}

header img{
    width: 26.4rem;
    display: block;
    margin: auto;
    object-position: 0rem 2rem; /* posicionamento imagem x / y  */
}

/*  */

.stats{
    width:32.7rem;

    padding-block: 4rem; /* padding top- bottom = 4rem  */ 
    margin-inline: auto; /* margin left right = auto */

    background-color:var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.stat h3{
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: .4rem;
}

.stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}

/* ===NAVIGATION============================= */

nav{
    display: flex;

    height: var(--nav-height);
    
    /* padding: 1.6rem 2.4rem;  top / bottom  - left / right  */
    
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav.scroll{
    background: var(--primary-color);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill:white;
}

nav.scroll button path{
    stroke:white;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

/* ===MENU-EXPANDED============================= */
body.menu-expanded {
    overflow: hidden; /* remove os scroll x e y ( transbordamento de contéudo */ 
}

body.menu-expanded > :not(nav) { /* 1 nível some todos elementos da tela menos o nav */ 
 display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: 0;
}

/* mostra o menu */
body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}



body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);
}

body.menu-expanded nav{
    position:relative; /* remove position fixed */ 
}


.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;  
}

.menu li a {
    color: #fff;
    text-decoration: none;
}


.menu .button{
    background: #fff;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);

    display: inline-block; /* tira a sobreposicao dos elementos inline - aplica margin e outras caracteristicas*/ 
    
    padding: 16px 32px;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}


.social-links{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button{
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill:white
}

/* ===SERVICES========================================== */

#services header h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;

    color: var(--primary-color);

    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

#services header h2 {
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--headline);

    margin-bottom: 6rem;
}









































/*  */

 /* padding-inline: 2.4rem; /* padding left / hight  */
 /* padding-block: 1.6rem; padding  top / bottom' */ 